body {
    background-color: #f8f9fa;
}

header nav {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding:1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;

}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 2rem;
    margin: 0;
}

header nav ul li a {
    color: #1f1f1f;
    text-decoration: none;
    font-weight: bold;
}

header img {
    width: 100px;
    height: 50px ;
    object-fit: cover ;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}